In [1]:
import pandas as pd
import numpy as np
from pandas.io import sql
from sqlalchemy import create_engine
import csv
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt

In [2]:
tqdm.pandas()

/Users/max/opt/anaconda3/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [3]:
db_user = 'postgres'
db_password = ''
db_host = 'localhost'
db_port = 5432
database = 'climbing'

conn_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{database}'
connection = create_engine(conn_str)

In [4]:
df_users = pd.read_sql('select * from users',connection,index_col='index')
df_users['climbs'] = [eval(flat) for flat in df_users['climbs_flat']]
df_users = df_users.drop('climbs_flat',axis=1)

In [9]:
df_crags = pd.read_sql('select * from crags',connection,index_col='index')
df_crags['climb_list'] = [eval(flat) for flat in df_crags['climbs_flat']]
df_crags = df_crags.drop('climbs_flat',axis=1)
df_crags

,url,cragname,climbs,rocktype,altitude,faces,lat,long,climb_list
index,,,,,,,,,
4,https://www.ukclimbing.com/logbook/crag.php?id=4,Dinas Cromlech,79,Rhyolite,500.0,S,53.0917,-4.0489,"[(3166, 0), (3167, 0), (3168, 3), (3169, 1), (..."
5,https://www.ukclimbing.com/logbook/crag.php?id=5,Bus Stop Quarry,115,Slate,450.0,None,53.1294,-4.1058,"[(141016, 1), (136481, 1), (134391, 1), (1309,..."
6,https://www.ukclimbing.com/logbook/crag.php?id=6,Craig Pant Ifan (Tremadog),176,Dolerite,NaN,S,52.9436,-4.1311,"[(152703, 0), (100182, 1), (2561, 2), (2562, 2..."
7,https://www.ukclimbing.com/logbook/crag.php?id=7,St. Govan's Head,151,Limestone,12.0,SW,51.5977,-4.9277,"[(401447, 0), (138693, 1), (58187, 1), (150671..."
8,https://www.ukclimbing.com/logbook/crag.php?id=8,Carreg-y-Barcud Area,128,Sandstone (hard),13.0,S,51.8719,-5.2350,"[(503566, 0), (503567, 0), (503568, 0), (50356..."
...,...,...,...,...,...,...,...,...,...
27429,https://www.ukclimbing.com/logbook/crag.php?id...,Gap Bon ami boulders,0,UNKNOWN,NaN,None,48.8067,-64.2198,[]
27430,https://www.ukclimbing.com/logbook/crag.php?id...,Metal Expert,8,UNKNOWN,NaN,None,45.5454,25.5181,"[(560519, 3), (560520, 3), (560521, 0), (56052..."
27431,https://www.ukclimbing.com/logbook/crag.php?id...,Las Palomas,3,UNKNOWN,NaN,None,28.1159,-16.5589,"[(560451, 2), (560452, 2), (560453, 2)]"
27432,https://www.ukclimbing.com/logbook/crag.php?id...,Corral de Vacos,62,UNKNOWN,NaN,None,39.5282,-0.8342,"[(560454, 0), (560455, 0), (560456, 0), (56045..."
27434,https://www.ukclimbing.com/logbook/crag.php?id...,Elsie's Peak,0,UNKNOWN,NaN,None,-34.1501,18.4355,[]

In [5]:
df_climbs = pd.read_sql('select * from climbs',connection,index_col='index')
df_climbs['logs'] = [eval(flat) for flat in df_climbs['logs_flat']]
df_climbs = df_climbs.drop('logs_flat',axis=1)
df_climbs

,id,url,climbname,rating,grade,crag_id,desc,num_comments,type,comments_flat,logs
index,,,,,,,,,,,
3166,3166,https://www.ukclimbing.com/logbook/c.php?i=3166,Millwood's Wall,0,S 4a,4,,0,trad,' ',{}
3167,3167,https://www.ukclimbing.com/logbook/c.php?i=3167,Vanishing Point,0,E1 5b,4,,2,trad,' ',"{'187067': '', '63530': ''}"
3168,3168,https://www.ukclimbing.com/logbook/c.php?i=3168,The Thing,3,E2 5c,4,,124,trad,""" Joe led this in one pitch, taking the direc...","{'253245': '', '206609': 'Joe led this in one ..."
3169,3169,https://www.ukclimbing.com/logbook/c.php?i=3169,Rootorooni,1,E3 5c,4,,0,trad,' ',{}
3170,3170,https://www.ukclimbing.com/logbook/c.php?i=3170,Cobweb Crack,2,VS 5a,4,,181,trad,' Note that the description in the CC Llanb...,"{'185136': '', '197782': '', '6106': '', '2410..."
...,...,...,...,...,...,...,...,...,...,...,...
560510,560510,https://www.ukclimbing.com/logbook/c.php?i=560510,El chivo loco,0,6b,27432,,0,lead,' ',{}
560511,560511,https://www.ukclimbing.com/logbook/c.php?i=560511,Victorking,0,6b+,27432,,0,lead,' ',{}
560512,560512,https://www.ukclimbing.com/logbook/c.php?i=560512,Puto Maldonado,0,6c+,27432,,0,lead,' ',{}
560513,560513,https://www.ukclimbing.com/logbook/c.php?i=560513,Bracitos de acero,0,6c,27432,,0,lead,' ',{}
560514,560514,https://www.ukclimbing.com/logbook/c.php?i=560514,Los solidarios,0,6b,27432,,0,lead,' ',{}

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
uk_crags = df_crags[(df_crags['lat']>50)&(df_crags['long']>-8.2)&(df_crags['lat']<58.9)&(df_crags['long']<2.1)].index

In [11]:
df_climbs['in_uk'] = df_climbs.crag_id.map(lambda x : x in uk_crags)

In [12]:
df_test = df_climbs[(df_climbs['in_uk'])&(df_climbs['type']=='boulder')]

In [13]:
cv_climbing_words = TfidfVectorizer(ngram_range=(1,2),stop_words='english')

climbs_nlp_spmat = cv_climbing_words.fit_transform(df_test.comments_flat.values)
climbs_nlp_spmat

<56756x397416 sparse matrix of type '<class 'numpy.float64'>'
	with 1769622 stored elements in Compressed Sparse Row format>

In [14]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [15]:
def num_there(s):
    return any(i.isdigit() for i in s)

In [16]:
def get_vocab(columns):
    vocab = []
    for i in tqdm(columns):
        sent = analyser.polarity_scores(i)
        if len(i.split())==1 and sent['neu'] == 1 and num_there(i)==False:
            vocab.append(i.lower())
        elif len(i.split())>1 and num_there(i)==False and sent['neu'] < 0.2:
            vocab.append(i.lower())
    return vocab

In [18]:
vocab = get_vocab(cv_climbing_words.get_feature_names())

HBox(children=(FloatProgress(value=0.0, max=397416.0), HTML(value='')))

In [19]:
tfv_climbing_words = TfidfVectorizer(stop_words='english',vocabulary=vocab)

climbs_nlp_spmat = tfv_climbing_words.fit_transform(df_test.comments_flat.values)

climbs_nlp_spmat

<56756x38821 sparse matrix of type '<class 'numpy.float64'>'
	with 673791 stored elements in Compressed Sparse Row format>

In [30]:
me = 279250
ethan = 221061
user = me

In [31]:
user_comments_flat = ''
for climb in df_users.loc[user].climbs:
    user_comments_flat += df_climbs.loc[climb].comments_flat

In [32]:
user_nlp_spmat = tfv_climbing_words.fit_transform([user_comments_flat])

In [33]:
index = df_test.index
cosine_spmat = cosine_similarity(user_nlp_spmat,climbs_nlp_spmat,dense_output=True)

In [34]:
df_reccomended = pd.DataFrame(cosine_spmat,columns=index).T.sort_values(by=0,ascending=False)
user_climbs = [climb for climb in df_users.loc[user].climbs if climb in index]
    
df_reccomended = df_reccomended.drop(user_climbs)

In [35]:
df_reccomended.head(10)

              0
index
10078  0.577797
29101  0.568794
29105  0.547255
28888  0.536037
58285  0.534569
10487  0.531674
29571  0.530941
10072  0.516335
29256  0.515279
29811  0.506413

In [40]:
df_user_rec = df_climbs.loc[df_reccomended.index]
df_user_rec['cosine'] = df_reccomended[0]

In [42]:
df_user_rec[['climbname','cosine']].head(10)

                  climbname    cosine
index
10078  Not to be Taken Away  0.577797
29101    The Green Traverse  0.568794
29105          Pebble ArÃªte  0.547255
28888       Gorilla Warfare  0.536037
58285    Back Wall Traverse  0.534569
10487         Banana Finger  0.531674
29571     Three Pocket Slab  0.530941
10072        Crescent ArÃªte  0.516335
29256            Razor Roof  0.515279
29811   Weedkiller Traverse  0.506413